* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to right, #0086a8, rgb(3, 3, 3));
  padding: 1% 5% 1% 5%;
}

a {color: chocolate;}

header {
  grid-area: header;
  height: auto;
  overflow: visible;
    top: 0px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #0086a800, rgba(3, 3, 3, 0));
  position:relative;
  
  
}


.fondo {
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  background-size: 90%;
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: #ffa34d;
  overflow: visible;
}

#logo {
  background-image: linear-gradient(to right, #0086a8, rgba(3, 3, 3, 0));
}

h1 {
  /* acá van todos los estilos */
  /*propiedad: valor;*/
  color: #ffffff;
  font-size: 50px;
  font-family: "Mukta";
  height: auto;
}

.noticiaDestacada {
  background-color: white;
  height: 500px;
  grid-area: Destacada;
  align-items: center;
  border: solid red;
}

h2 {
  /* acá van todos los estilos */
  /*propiedad: valor;*/
  color: #0086a8;
  font-size: 40px;
  font-family: "Mukta";
}

p {
  color: rgb(112, 25, 25);
  font-size: 20px;
  text-align: justify;
  font-family: "Mukta";
  padding: 20px;
}

.fondoSecciones {
  background-color: white;
  padding: 10px;
}

.fondoTexto {
  background-color: white;
  padding: 10px;
}

.imagenes {
  display: flex;
  margin: auto;
  display: block;
  border-radius: 20px;
  overflow: auto;
  flex-flow: wrap;
  max-width: 100%;
  max-height: 75%;
  height: auto;
  width: auto;
}
.imagenes:hover {
  transform: scale(1.05, 1.1);
  transition: 1s;
}

.imagenesNoticias {
  display: flex;
  margin: auto;
  display: block;
  border-radius: 20px;
  overflow: auto;
  flex-flow: wrap;
  max-width: 100%;
  max-height: 75%;
  height: 50%;
  width: 50%;
}

.video{ position:relative;
z-index: -1;}
#lema {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  background-image: linear-gradient(to right, #0086a8, rgb(3, 3, 3));
  height: 20%;
}

.italica {
  font-style: italic;
}

.negrita {
  font-weight: bolder;
}

.noticia1 {
  background-color: rgb(255, 255, 255);

  grid-area: Noticia1;
  height: 300px;
  border: solid rgb(195, 221, 48);
}

.noticia2 {
  background-color: white;
  height: 300px;
  grid-area: Noticia2;
  border: solid chartreuse;
}

.noticiaMenor {
  background-color: white;

  grid-area: Noticia3;

  border: solid blue;
}

.footer {
  clear: both;
  grid-area: Footer;
  border: black solid;
  height: 100%;
  font-size: 20px;
}

.listaDeReproducción {
  grid-area: Lista;
  border: solid black 10px;
}

.podcast {
  grid-area: Podcast;
  border: solid;
}

.contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 800px;
  width: 800px;
    margin: auto;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  align-content:space-between;
  text-align: center;
  border: none;
  grid-area: formulario;


}

.itemFormulario { border: solid;
height: 20%;
padding-top: 75px;
text-align: center

;
}
fieldset{ font-weight: bolder;}

.contactoGrid{
  display: grid;
  grid-template-areas:
  "header header header"
  "formulario formulario formulario"
  "Footer Footer Footer";
  grid-template-columns: 25% 1fr 1fr;
   grid-template-rows: 1fr 1fr 10%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 150vh;
  
}

.homeGrid {
  display: grid;
  grid-template-areas:
    "header header header"
    "Lista Lista Lista"
    "Podcast Podcast Podcast"
    "Destacada Destacada Destacada"
    "Noticia1 Noticia1 Noticia1"
    "Noticia2 Noticia2 Noticia2"
    "Noticia3 Noticia3 Noticia3"
    "Footer Footer Footer";
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 2fr 1fr 1fr 1fr 10%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
}

/* Esto es el Menú */

.menuGrid {
  grid-area: Menu;
}

.navMenu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(173, 161, 161);
  justify-content: space-between;
  padding: 1%;
  border: solid;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 1%;
}

.navMenu li {
  display: flex;
  border: solid;
  padding: 12px;
  width: 25px;

  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 10px;
  border-radius: inherit;
  font-size: 75%;
  justify-content: center;
  position: relative;
}

.navMenu li ul {
  position: absolute;
  display: block;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: auto;
  top: 23%;
}

.navMenu li ul li {
  display: block;
  font-size: 10px;
  border: solid;

  left: -5px;
  top: 30px;
  padding: 6% 65% 23% 10%;
  width: 50%;
  height: 1%;
  background-color: grey;
  position: relative;
}

.navMenu li ul li p {
  color: white;
}
.subMenu {
  position: absolute;
  display: block;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: auto;
  top: 23%;
}

.subMenu li {
  display: flex;
  border: solid;
  padding: 5px;
  width: 200px;

  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  border-radius: inherit;
  font-size: 150%;
  justify-content: center;
}

/* Acá termina el Menú*/

.centrado {
  margin: auto;
  margin-top: 20px;
}

/* Estilos del documento Reseñas.html*/
table {
  background-color: rgb(176, 200, 252);
}

tr {
  font-weight: bold;
  border: 1000px ridge;
  text-align: center;
  color: rgb(105, 78, 8);
}

td,
th {
  font-weight: bold;
  border: 1px ridge;
  text-align: center;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: justify;
}

ol {
  list-style-type: lower-latin;
  text-align: justify;
  list-style-position: inside;
}

/* Estilos del documento Contacto */
form {
  color: white;
  font-family: "Mukta";
  
}

/* Estilos del documento Podcast.html*/

/* Estilos para escritorio */

@media (min-width: 1200px) {
  header{position: relative;}
  .homeGrid {
    display: grid;
    grid-template-areas:
      "header header header"
      "Lista Podcast Podcast"
      "Lista Destacada Destacada"
      "Lista Noticia1 Noticia2"
      "Lista Noticia3 Noticia3"
      "Footer Footer Footer";
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 2fr 1fr 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
  }

  /* Esto es el Menú */

  .menuGrid {
    grid-area: Menu;
  }

  .navMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgb(173, 161, 161);
    justify-content: space-between;
    padding: 1%;
    border: solid;
    align-items: center;
    border-radius: 0px;
  }

  .navMenu li {
    display: flex;
    border: solid;
    padding: 5px;
    width: 200px;

    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border-radius: inherit;
    font-size: 150%;
    justify-content: center;
    position: relative;
  }
  .navMenu li:hover {
    background-color: black;
  }
  .navMenu li ul:hover {
    height: 260px;
    width: 150px;
  }
  .navMenu li ul {
    position: absolute;
    display: block;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: auto;
    top: 23%;
    transition: 1s;
  }

  .navMenu li ul li {
    display: block;
    font-size: 20px;
    border: solid;

    left: -5px;
    top: 23px;
    padding: 6% 10% 16% 10%;
    width: 50%;
    height: 1%;
    background-color: grey;
    position: relative;
  }
  .navMenu li ul li p {
    color: white;
  }

  .subMenu {
    position: absolute;
    display: block;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: auto;
    top: 23%;
  }

  .subMenu li {
    display: flex;
    border: solid;
    padding: 5px;
    width: 200px;

    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border-radius: inherit;
    font-size: 150%;
    justify-content: center;
  }

  /* Acá termina el Menú*/
  #logo {
    background-color: black;
  }

  #lema {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    background-color: #0086a8;
    height: 10%;
  }
}

/* Estilo para Tablet*/
@media (min-width: 600px) {
  .homeGrid {
    display: grid;
    grid-template-areas:
      "header header header"
      "Lista Podcast Podcast"
      "Lista Destacada Destacada"
      "Lista Noticia1 Noticia2"
      "Lista Noticia3 Noticia3"
      "Footer Footer Footer";
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 2fr 1fr 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
  }

  /* Esto es el Menú */

  .menuGrid {
    grid-area: Menu;
  }

  .navMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgb(173, 161, 161);
    justify-content: space-between;
    padding: 1%;
    border: solid;
    align-items: center;
    border-radius: 0px;
  }

  .navMenu li {
    display: flex;
    border: solid;
    padding: 5px;
    width: 100px;

    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 10px;
    border-radius: inherit;
    font-size: 150%;
    justify-content: center;
    position: relative;
  }

  .navMenu li ul {
    position: absolute;
    display: block;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: auto;
    top: 23%;
  }

  .navMenu li ul li {
    display: block;
    font-size: 20px;
    border: solid;

    left: -5px;
    top: 30px;
    padding: 6% 52% 23% 10%;
    width: 50%;
    height: 1%;
    background-color: grey;
    position: relative;
  }

  .navMenu li ul li p {
    color: white;
  }

  .subMenu {
    position: absolute;
    display: block;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: auto;
    top: 23%;
  }

  .subMenu li {
    display: flex;
    border: solid;
    padding: 5px;
    width: 200px;

    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border-radius: inherit;
    font-size: 150%;
    justify-content: center;
  }

  /* Acá termina el Menú*/
  #lema {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    background-color: #0086a8;
    height: 20%;
  }
  #logo {
    background-color: black;
    height: 80px;
  }

  header {
    grid-area: header;
    height: auto;
    overflow: visible;
    
    top: 0px;
    margin-bottom: 10px;
  }
}
